<nav id="navbar">
	<div class="wrapper">
		<a href="{% url 'home' %}" class="navbar-brand">L'Excentrique</a>
		<ul class="navbar-right">
			<li> <a href="{% url 'blog_livreSF:index' %}">Livres</a> <div id="entourer"></div> </li>
			<li>  <a href="{% url 'film:home' %}">Films</a> </li>
			<li> <a href="{% url 'nouvelle:home' %}">Nouvelles</a>  </li>
			<li>  <a href="{% url 'forum:home' %}">Forum </a> </li>			
			{% if user.is_authenticated %}
			<li> <a href="{% url 'connexion:profile' %}"> Voir son profil </a> <div id="cercle"></div> <div id="nombre_message_non_lu"></div> </li>
			<li> <a href="{% url 'connexion:deconnexion' %}"> Se déconnecter</a></li>
			<strong> Coucou {{ user.username }} </strong>

			{% else %}
			<li> <a href="{% url 'connexion:connexion' %}"> Connexion</a></li>
			{% endif %}
			

		</ul>
	</div>
</nav>

