Vous trouverez ici divers articles à propos de livres tout aussi divers ! Vert ! Vous pouvez également écrire vous même un article et le publier afin de nous éclairer de vos lumières ;)
<br>
<br>
Chaque article se compose essentiellement de deux parties, la première est un résumé du livre, et l’autre tout commentaire à propos. Il est possible d’écrire l’une ou l’autre ou bien les deux ! Libre à vous  :)   
<br>
<br>
Je ne pense pas qu’il y ait de « bonne » interprétation ou commentaire sur un livre. Chacun ayant sa propre perception et vision des choses, il est logique que celle-ci diffère des autres et en particulier de celle de l’auteur lui même. Elle n’en est pas moins intéressante et enrichissante. 
<br>
Ainsi, n’hésitez pas à faire partager vos réflexions les plus fumeuses, vos questionnements les plus abracadabrantesques et vos mots les plus beaux :D 
<br>
<br>
Même s’il y a peu, cela peu tout de même se révéler être un terreau fertile par des discussions intenses et passionnantes dans la partie commentaire ! Libre à vous ensuite d’actualiser le fruit de vos réflexions et de modifier votre article !
<br>
<br>
N’oubliez pas, il n’y a pas de tord ou de raison, il n’y a que des discussions entre personnes ouvertes, intéressées et gentilles :D Donc à vos claviers !
<br>
<p id="click_pour_rabattre" class='url_like'> Cliquez pour rabattre</p>