{% extends 'layouts/base.html' %}
{% block title %}Nouvelle{% endblock %}


{% block content %}



<div style="z-index: 1;right: 0; position: fixed; width: 20%;">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title adaptative-lenght-title"> Nuage de tags <span id="question_mark">[?]</span> <span id="precision_question_mark"> <br> Cliquez sur un tag pour l'ajouter. Cliquer à nouveau sur un tag déjà choisi pour l'enlever. Les tags sélectionnés se trouvent en bas à droite de l'écran.</span></h5>
            
            <div id="super_test">
                {% for i in tags %}
                    <span class="liste_tags" id_tag="{{ i.id }}" > {{ i }} </span>
                {% endfor %}
            </div>
            <br>
            <div class="url_like" id="remise_zero" style="display: none;"> Remise à zéro des tags </div>
        </div>
    </div>
    <div class="card  ">
        <div class="card-body">
            <h5 class="card-title adaptative-lenght-title"> Divers</h5>
            <a class="adaptative-lenght-normal" href="{% url 'nouvelle:index' %}"> Retour à l'index général</a> <br>
            <a class="adaptative-lenght-normal" href="{% url 'nouvelle:write_a_nouvelle' %}"> Ecrire une nouvelle</a>

        </div>
    </div>
</div>

<div class="presentation_onglet"> 
     <h3 class="click_pour_derouler">Bienvenu dans l’onglet Nouvelles :) <span id="question_mark">[?]</span> </h3>
     <p class="message_deroule"> {% include './presentation_onglet_nouvelle.html' %}  </p>
     
</div>
<br>
<br>
<br>

<div id='avec_tag'></div>
<div id='sans_tag'>


{% if nouvelles_posts %}
    {% for nouvelleecrite in nouvelles_posts %} 
        <div class="container" style="left: 0;position: relative;" >
            <div class="card-group row " style="width: 85%; ">
                <div class="card border-dark col-md-3">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ nouvelleecrite.auteur_nouvelle.profile.avatar }}" alt="Card image cap">
                    <div class="card-body text-center">
                    <h5 class="card-title"><a href="{% url 'connexion:profile-other-user' nouvelleecrite.auteur_nouvelle.profile.slug_pseudo %}">{{ nouvelleecrite.auteur_nouvelle.profile.pseudo }}</a> <br> <p style="font-size: small; font-style:italic ;">{{ nouvelleecrite.auteur_nouvelle.profile.rang }}</p ></h5>
                    <p style="font-size: 80%;" class="card-text"> Nombre de posts écrits: {{ nouvelleecrite.auteur_nouvelle.profile.nombre_post_ecrit }} </p>
                    </div>
                </div>

                <div class="card border-dark">
                    <div class="card-md-4">
                        <div class="card-body">
                            <h4 class="card-title">
                                {{ nouvelleecrite.titre }}
                            </h4> 
                            {% if nouvelleecrite.tag.all %}
                                <p class="card-title">Tags :
                                        {% for i in nouvelleecrite.tag.all %} 
                                                &nbsp; {{ i.tags }} 
                                        {% endfor %} 
                                </p>
                            {% endif %}
                            <p class="card-title">
                                Nombre de mots : {{ nouvelleecrite.word_count}}
                                <font style="float: right;margin-right: 1em;font-size: 20px"> 
                                    <a class='like-btn' data-href="{{ nouvelleecrite.get_like_api_url }}" href ="" position-photo="{{ MEDIA_URL }}" name-photo="{{ nouvelleecrite.slug }}">
                                        {{ nouvelleecrite.likes.count }} 
                                        {% if user in nouvelleecrite.likes.all %}
                                            <img style="height:25px;margin-bottom: 9px;" src="{{ MEDIA_URL }}image_site/like_button.png">
                                        {% else %}
                                            <img style="height:25px;margin-bottom: 9px;" src="{{ MEDIA_URL }}image_site/no_like_button.png">
                                        {% endif %}
                                    </a>  
                                    <img id="{{ nouvelleecrite.slug }}" style="height:25px;margin-bottom: 9px; display: none" src="{{ MEDIA_URL }}image_site/like_button.png"> 
                                </font>
                            </p>
                            
                        </div>
                    </div>
                    <div class="card-md-4">
                        <div class="card-body">
                            <p class="card-text">{{ nouvelleecrite.contenu|truncatechars:500 }} </p>
                            
                            <a href="{% url 'nouvelle:show' nouvelleecrite.id nouvelleecrite.slug %}" class="btn btn-primary">Lire la suite</a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <br>
      

    {% endfor %}
       

{% else %}
    <p> Pinut</p>
{% endif %}
</div>
{% endblock %}

    <!-- {% include 'layouts/pagination.html' with users=posts %} -->
