
Vous trouverez ici des nouvelles écrites par qui le désire et c’est également là que vous pouvez rendre publiques les vôtres. 
<br>
<br>
J’ai ajouté la possibilité à chaque auteur de nouvelle d’écrire des informations additionnelles de prime abord cachées. Ainsi, vous pourrez consulter quand vous le désirerez ce qu’a écrit l’auteur de la nouvelle par une action manifeste de votre part (évitant donc tout spoil potentiel ou alors retardant un troll de quelques auteurs vicelards :p).
<br>
<br>
Je me permets ici d’émettre une opinion qui m’est strictement personnelle et qui je sais n’est pas celle de tout le monde. Pour moi, lire c’est s’approprier ce que l’on lit. Ça a beau être le roman écrit par Monsieur X, quand je le lis, il devient mien. Il devient mien car je le lis avec mon recul, avec mon vécu, avec mes sentiments. Lire un livre c’est faire un point avec qui l’on est et ce que l’on ressent. C’est s’attarder et retenir des éléments d’un récit qui font écho avec qui l’on est à ce moment. Donner à lire un même livre, les mêmes phrases, les mêmes mots, à deux personnes différentes, ils n’en retiendront pas la même chose, ils ne l’interpréteront pas de la même manière, ils seront traversés par des sentiments distincts. 
<br>
Ainsi, il n’y a pas, pour moi, de « bonne » ni de « mauvaise » interprétation. Une bonne interprétation ne l’est pas parce qu’elle correspond à celle de l’auteur. Il n’y a que des interprétations personnelles fruits de réflexions qui nous sont propres. 
<br>
C’est le risque de publier, c’est accepter que d’autres y voient des choses différentes mais c’est également ce qui en fait sa richesse !   
Étant, pour le moment, partisan de cette idée, je ne vais, personnellement, pas apporter de quelconque explications  sur les nouvelles que je vais écrire. Juste peut être des pistes, des thèmes, ou autre chose ! Je ne le sais encore ^^ Ce qui m’importe c’est qu’elle suscite en vous quelque chose, que ce soit de la curiosité, de la réflexion, du dégoût, de l’admiration ou que sais je encore ! 
<br>
Si je vais résumer je dirai ceci : que le lecteur est également auteur, alors au boulot ! Et n’hésitez pas à en discuter dans la partie commentaire ;)
<br>
<br>
Ps : Ce n’est que ma vision et celle que je vais appliquer, libre à tout un chacun d’en avoir une différente et de mettre ce qu’il veut dans cette partie « informations additionnelles » ;)
<p id="click_pour_rabattre" class='url_like'> Cliquez pour rabattre</p>