{% extends 'layouts/base.html' %}
{% load markdown_deux_tags %}
{% block title %}{{ nouvelleecrite.titre }}{% endblock %}
{% block content %}


<div class="card  text-center border-0 nuage" >
	<div class="card-body">
		
		<blockquote class="blockquote mb-0">	
			<h3> 
				{{ nouvelleecrite.titre }} 
			</h3>

			<footer class="blockquote-footer" >
				<br>
				Régigé par {{ nouvelleecrite.auteur_nouvelle.profile.pseudo }}
				<cite style="margin-left: 20px;">
					{% if nombre_mots <= 1 %} {{ nombre_mots }} mot
					{% else %} {{ nombre_mots }} mots
					{% endif %}
				</cite> 
				<cite style="margin-left: 20px;">
					{% if nouvelleecrite.commentsection_set.count <= 1 %} {{ nouvelleecrite.commentsection_set.count }} commentaire
					{% else %} {{ nouvelleecrite.commentsection_set.count }} commentaires
					{% endif %}
				</cite> 
				<cite style="margin-left: 20px;">
					écrit le {{ nouvelleecrite.date|date:"DATE_FORMAT" }}
				</cite>
				<cite style="margin-left: 20px;">
					{% if nouvelleecrite.modification %}
						modifié le {{ nouvelleecrite.updated_at|date:"DATE_FORMAT" }}
					{% endif %} 
				</cite>
			</footer>

		</blockquote>
	</div>

</div>
<div class="card text-center border-0 nuage" >
	<div class="card-body">
		<br>
		{% if nouvelleecrite.contenu != '' %}
			<p>
				<br> 
				{{ nouvelleecrite.contenu|markdown }}
			</p>
		{% endif %}
		<br>
		{% if nouvelleecrite.auteur_nouvelle.profile.signature %}
			<p class="signature">{{ nouvelleecrite.auteur_nouvelle.profile.signature }}</p>
		{% endif %}
	</div>

	<p> 
		Vous avez aimé ? Faites le savoir ! 
		<br>
		Smash that button
		<a class='like-btn' data-href="{{ nouvelleecrite.get_like_api_url }}" href="" position-photo="{{ MEDIA_URL }}" name-photo="{{ nouvelleecrite.slug }}">
			{{ nouvelleecrite.likes.count }} 
		    {% if user in nouvelleecrite.likes.all %}
		        <img style="height:25px;margin-bottom: 7px;" src="{{ MEDIA_URL }}image_site/like_button.png">
		    {% else %}
		        <img style="height:25px;margin-bottom: 7px;" src="{{ MEDIA_URL }}image_site/no_like_button.png">
		    {% endif %}
		</a>  
		<img id="{{ nouvelleecrite.slug }}" style="height:25px;margin-bottom: 7px; display: none" src="{{ MEDIA_URL }}image_site/like_button.png">
		<br>
		<div style="margin-top: -23px;">Or leave a comment !</div>  
		{% if user.is_authenticated == False %}
			<br>
			<div>Mais pour pouvoir faire tout ça, il faut vous enregistrer et c'est pas bien compliqué, car ça se passe juste <a href="{% url 'connexion:connexion' %}">là</a></div>  
		{% endif %}
	</p>
	<p id="commentaire_auteur" style="font-weight: bold">
		Informations additionnelles de l'auteur
	</p>
	<p id="confirmation_commentaire_auteur" style="display: none">Etes-vous sur de vouloir regarder ce qu'a pu ajouter l'auteur ? Ce ne sont que des informations additionnelles qui ne font pas parties de la nouvelle. Je ne saurai trop vous conseiller de revenir lire cette partie lorsque vous vous serez fait une idée personnelle de cette nouvelle avec votre interprétation pour qu'ensuite vous la confrontriez avec celle de l'auteur. 

		Si c'est déjà fait ou si vous êtes un petit rebelle ne faisant fi de mes recommendations, et bien cliquez <span id="confirmation_commentaire_auteur_ok" style="font-weight: bold; display: none">Ici</span></p>
	<div id="commentaire_auteur_show" style="display: none" > {{ nouvelleecrite.information_additionnelle|markdown }} 
	</div>
</div>
{% if user.username == nouvelleecrite.auteur_nouvelle or user.is_superuser %}
	<a class="btn btn-outline-primary" href="{% url 'nouvelle:nouvelle-update' nouvelleecrite.id nouvelleecrite.slug %}">Modifier la nouvelle</a>
	<a class="btn btn-outline-danger" href="{% url 'nouvelle:nouvelle-delete' nouvelleecrite.id nouvelleecrite.slug %}">Supprimer la nouvelle</a>
	<br>
	<br>
{% endif %}

{% if user.is_authenticated %}
<br>
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {% include './form_help_local.html' with form=form particular_field='Comment' particular_placeholder="Vient me faire disparaitre en laissant un commentaire ;)" particular_label_tag="" %}
    <input type="submit" name="laisser_commentaire" value="Envoyer" />
</form>
{% endif %}

<br>
{% for comment in nouvelleecrite.commentsection_set.all %}

	<div class="container " style="left: 0;position: relative;" >
        <div class="card-group row " style="width: 100%; ">
            <div class="card border-right-0 border-dark col-md-1  ">
                <img class="card-img-top-center" style="max-width: 100%; height: auto;text-align: center" src="{{ MEDIA_URL }}{{ comment.auteur_comment.profile.avatar }}" alt="Card image cap">
                <br>
                <p style="font-size: small; font-style: italic;"> {{ comment.auteur_comment.profile.rang }}</p>
            </div>
            <div class="card border border-dark border-left-0">
            	<h5 class="card-title"> 
            		<a class="card-body" href="{% url 'connexion:profile-other-user' comment.auteur_comment.profile.slug_pseudo %}">{{ comment.auteur_comment.profile.pseudo }}</a>
            		<div style="float:right; font-size: 15px; color: grey; font-style:italic">
            		posté le : {{ comment.date }} 
            		{% if comment.modification %}
						modifié le : {{ comment.updated_at }}
					{% endif %}	
					</div>		
				</h5>
				<div class="card-body" id="message_{{ comment.id }}">
					{% if comment.number_words <= 100 %}
						{{ comment.comment|markdown }}
					{% else %}
						<div id="show_short_comment_{{ comment.pk }}"  style="display: inline;">
							{{ comment.comment|markdown|truncatewords:comment.nombre_mots_afficher }}
							<div id="button_more_comment" id_comment = "{{ comment.pk }}" style="font-weight:bold"> Lire la suite </div>
						</div>
						<div id="show_long_comment_{{ comment.pk }}"  style="display: none;">
							{{ comment.comment|markdown }}
							<div id="button_less_comment" id_comment = "{{ comment.pk }}" style="font-weight:bold"> Moins </div>
						</div>
					{% endif %}
					<br>
					{% if comment.auteur_comment.profile.signature != '' %}
					<div class="signature"> {{ comment.auteur_comment.profile.signature }}</div>
					{% endif %}
					<br>
					{% if user == comment.auteur_comment or user.is_superuser %}
						<div class="btn btn-outline-primary comment_button" href="{% url 'nouvelle:ajax-modify-comment' %}" id_comment="{{ comment.id }}">Modifier le commentaire</div>
						<a class="btn btn-outline-danger" href="{% url 'nouvelle:comment-delete' nouvelleecrite.id nouvelleecrite.slug comment.pk %}">Supprimer le commentaire</a>
					{% endif %} 
				</div>
			</div>
		</div>
		
	</div>

{% endfor %}


<br>
<a href="{% url 'nouvelle:index' %}">Retour à l'index </a>
{% endblock %}

